@import 'var';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inika', serif;
    // font-family: 'Inter', sans-serif;
}

.container {
    width: 1222px;
    margin: 0 auto;
}

//! Header
.header {
    background-color: $bg-section;

    &__wrap {

        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin-top: 53px;
        margin-left: 25px;
        font-size: 16px;
        line-height: 21px;
        color: #000;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-image: url(../assets/img/logo_vector.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: -4px;
            left: -22px;
        }
    }

    &__nav {}

    &__list {
        margin-top: 50px;
        display: flex;
        list-style: none;
    }

    &__item {}

    &__link {
        color: $links-nav;
        text-decoration: none;
        font-size: 16px;
        line-height: 50px;
        margin-left: 49px;
    }

    &__link_active {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 50px;
        color: $orange;
    }
}

//! Welcome section
.main{
    .welcome{
        &__wrap{

        }
        &__img{
            
        }
    }
}